services:
  camera:
    image: astra-camera:latest 
    build:
      context: ./astra-camera
      dockerfile: Dockerfile      
    container_name: camera
    environment:
      RMW_IMPLEMENTATION: ${RMW_IMPLEMENTATION}
    devices:
      - "/dev/astra:/dev/astra"
    network_mode: host
    privileged: true

  humble-dev:
    image: humble-dev:latest 
    build:
      context: ./humble-dev
      dockerfile: Dockerfile      
    container_name: humble-dev
    environment:
      RMW_IMPLEMENTATION: ${RMW_IMPLEMENTATION}
    network_mode: host
    tty: true
    stdin_open: true
    command: ["bash", "-lc", "sleep infinity"]